### Varia

build/
.gradle
.idea

### Kotlin template
.project/*
**/.settings/*
project/target/*
project/project/*
decomat-core/target/*
decomat-ksp/target/*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

